<html>
<title>HomePage-Stock Management</title>
       <body>
        <main>
            <div class="container" style="font-family: 'Poppins', sans-serif; max-width: 1400px;">
                    <div style="display: flex; justify-content: center; align-items: center;"><img
                            src="/images/homeimage.png" width="650" style="margin-top: 130px;">
                    </div>
                </div>
                </div>
        </main>
       </body>
</html>